body{
    /*wasnt sure how to set background. Tried this method to no avail.*/
    background-image: url("/Assets/Images/pink.jpg");
}
h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: black;
}

h2 {
    font-size: 20px;
    text-align: left;
    color: black;
}

p {
    text-align:left;
    font-size: 15px;
    color: black;
}
 .jumbotron {
     background-color: mistyrose;
 }